.App {
  text-align: center;
}



.link {
display: inline-block;
width: 25px;
margin: 2px;
padding:1% 5%;
background: rgb(37, 65, 37);
color: rgb(190, 243, 203);
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border-radius: 4px;
}

input[type=text] {
  width: 15%;
  padding: 12px 20px;
  margin: 7px;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #faf4f4;
  color: green
}

/* .other-button {
  background-color: #f3d6e9;
  border: 2px solid grey;
  color: rgb(59, 15, 15);
  padding: 7px 10px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
} */

/* #header {
  margin: 0px;
  font-family: Georgia;
} */

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flower-div {
  height: fit-content;
  margin: 1.5rem;
  padding: .75rem;
  border: 1px solid grey;
  border-radius: 0.6rem;
}

.flower-div h4{
  line-height: 0.25;
}

img {
  height: 170px;
  margin: 0.75rem;
}

.factoid-div{
  max-width: 450px;
  line-height: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  
}

